# Some files that are irrelevant to the COVID lab
algorithms.py
Anthony-Nasser-Graphs.zip
BookStore.py
books.txt
booktest.txt
Calculator.py
main.py
Lab6Tests.py
Lab_7_Tests.py
readme.txt
RedBlackTree.py
Book.py
SortableBook.py
# Already included a downlaodable version with file upload
COVIDLAB.zip